:root {
  --primary-color: #f8f8f8;
  --secondary-color: #5b5b5b;
  --accent-color: rgba(167, 167, 153, 0.56);
  --black-color: #000000;
  --blue-color: #347bd7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

.app {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0;
  min-height: 3rem;
}

.rowBackground {
  background-color: var(--primary-color);
}

.rowSandBackground {
    background-color: var(--accent-color);
}

.rowHeaderBackground {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cell {
  flex: 1;
  min-width: 50px;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 1rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;

  .button {
    background-color: var(--blue-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--primary-color);
  }

  .input {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--black-color);

    input {
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
